:root {
  --primary-color: hsl(199, 100%, 33%);
  --secondary-color: hsl(187, 85%, 43%);
  --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(201, 33%, 16%);
  --text-color: hsl(240, 4%, 36%);
  --white-color-cream: hsl(0, 0%, 93%);
  --grey-text: rgb(190, 190, 190);
  --input-color: rgb(239, 239, 239);
  --body-color: rgb(246, 249, 250);
  --card-bg-color: rgb(225, 225, 225);
}

.apartment {
  letter-spacing: 1px;
}

.apartment header {
  background: #2b424d;
  overflow: hidden;
}

.apartment header img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.4;
  max-width: 100%;
  height: auto;
}

.apartment header .content {
  text-align: center;
}

.apartment header .content .cardDiv {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(241, 246, 247, 0.893);
  padding: .7rem;
  border-radius: 1rem;
  font-size: .6rem;
}

.apartment header .content .cardDiv h1 {
  text-transform: uppercase;
}

.apartment header .content .cardDiv p {
  color: var(--text-color);
}

.apartment .mainHeader {
  margin: 1.5rem;
  text-align: center;
}

.apartment .mainHeader h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-family: poppins, sans-serif;
  padding: .5rem;
}

.apartment .mainContent {
  margin: 2rem;
  text-align: center;
}

.apartment .mainContent .col .paragraph {
  margin: 2rem;
  color: var(--text-color);
  text-transform: inherit;
}

.apartment .mainContent .col .paragraph h3 {
  margin-bottom: .5rem;
  font-weight: 550;
  font-family: italic;
}

.apartment .mainContent .col .paragraph p {
  margin-bottom: 2rem;
  color: var(--text-color);
}

.apartment .threeCol {
  text-align: center;
  margin: 2rem;
}

.apartment .threeCol p {
  color: var(--text-color);
  padding-bottom: 2rem;
}

.apartment .threeCol .headingCustomize h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 1;
}

.apartment .threeCol .headingCustomize hr {
  margin-bottom: 1rem;
}

.apartment .threeCol .col2 {
  margin: .5rem;
}

.apartment .threeCol .col2 h5 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: .5rem;
  font-family: italic;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apartment .threeCol .col2 p {
  margin-top: .5rem;
}

@media screen and (min-width: 765px) {
  .apartment header .content .cardDiv {
    top: 25%;
    padding: 2rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .apartment .mainContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .apartment .threeCol .colContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
  }
  .apartment .threeCol .colContent h5 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
  }
  .apartment .threeCol .colContent p {
    letter-spacing: 1px;
  }
  .apartment .threeCol .colContent .col2 {
    margin: 1rem;
  }
  .apartment .threeCol .colContent img {
    max-width: 100%;
    height: 200px;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1020px) {
  .apartment header h1 {
    letter-spacing: 2px;
    font-size: larger;
  }
  .apartment header .content .cardDiv {
    top: 33%;
    padding: 2rem;
    margin: 1rem;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .apartment header .content .cardDiv {
    top: 44%;
  }
  .apartment .mainContent {
    margin: 3rem;
  }
  .apartment .mainContent .col {
    padding: .5rem;
    margin: .5rem;
  }
  .apartment .threeCol .headingCustomize {
    margin: 3rem;
  }
}

@media screen and (min-width: 2560px) {
  .apartment header .content .cardDiv {
    top: 90%;
  }
}
/*# sourceMappingURL=apartment.css.map */