:root{
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --white-color-cream: hsl(0, 0%, 93%);
    --grey-text: rgb(190, 190, 190);
    --input-color: rgb(239, 239, 239);
    --body-color: rgb(240, 240, 240);
    --card-bg-color: rgb(225, 225, 225);
}
.contact{

    header{

      background: rgb(43, 66, 77);
      overflow: hidden;
  
      img{
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: cover;
          display: flex;
          opacity: 0.4;
          max-width: 100%;
          height: auto;
      }
  
      .content{
          text-align: center;
  
      .cardDiv{
          position: absolute;
          background: rgba(241, 246, 247, 0.893);
          transform: translate(-50%, -50%);
          top: 25%;
          left: 50%;
          border-radius: 1rem;
            font-size: .2rem;
            padding: .5rem;

          h1{
              font-size: 15px;
          }

          p{
              color: var(--text-color);
              font-size: 10px;
          }
      }
  }

  }

  .form{
    padding: 2rem;

    form{
      position: relative;
      padding: 1rem 1rem 4rem;
      gap: 2rem;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden;
      background: var(--white-color);
      padding: 2rem;
      border-radius: 1rem;
  
      input {
          width: 100%;
          height: 35px;
          padding: 7px;
          outline: none;
          border-radius: 5px;
          border: 1px solid rgb(220, 220, 220);
    
          &:focus {
            border: 2px solid var(--secondary-color);
          }
        }
  
        textarea {
          max-width: 100%;
          min-width: 100%;
          width: 100%;
          max-height: 100px;
          min-height: 100px;
          padding: 7px;
          outline: none;
          border-radius: 5px;
          border: 1px solid rgb(220, 220, 220);
    
          &:focus {
            border: 2px solid var(--secondary-color);
          }
        }
    
        label {
          margin-top: 1rem;
        }
  
        input[type="submit"] {
          margin-top: 2rem;
          cursor: pointer;
          background: var(--gradient-color);
          color: white;
          border: none;
        }
  }
  }


}



@media screen and (min-width: 765px) {
  .contact{
  header{
      img{
          height: 30vh;
      }
      .content{
          .cardDiv{
              top: 17%;
              padding: 2rem;
              margin: 1rem;
              
              h1{
                  font-size: 1.5rem
              }

              
          }
      }
      
  }

  .info{
      p{
          font-size: 1.5rem;
      }
      
  }

  .form{
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-left: 5.9rem;
     

  }
}

}

@media screen and (min-width: 1020px) {
  .contact{ 
      .form{
          justify-content: center;
          align-items: center;
          width: 80%;
       
         
  
      }
}
}