:root {
  --primary-color: hsl(199, 100%, 33%);
  --secondary-color: hsl(187, 85%, 43%);
  --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(201, 33%, 16%);
  --text-color: hsl(240, 4%, 36%);
  --white-color-cream: hsl(0, 0%, 93%);
  --grey-text: rgb(190, 190, 190);
  --input-color: rgb(239, 239, 239);
  --body-color: rgb(240, 240, 240);
  --card-bg-color: rgb(225, 225, 225);
}

.contact header {
  background: #2b424d;
  overflow: hidden;
}

.contact header img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.4;
  max-width: 100%;
  height: auto;
}

.contact header .content {
  text-align: center;
}

.contact header .content .cardDiv {
  position: absolute;
  background: rgba(241, 246, 247, 0.893);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 23%;
  left: 50%;
  border-radius: 1rem;
  font-size: .2rem;
  padding: .5rem;
}

.contact header .content .cardDiv h1 {
  font-size: 1.5rem;
}

.contact header .content .cardDiv p {
  color: var(--text-color);
  font-size: 10px;
}

.contact .form {
  padding: 2rem;
}

.contact .form form {
  position: relative;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  background: var(--white-color);
  padding: 2rem;
  border-radius: 1rem;
}

.contact .form form input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.contact .form form input:focus {
  border: 2px solid var(--secondary-color);
}

.contact .form form textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.contact .form form textarea:focus {
  border: 2px solid var(--secondary-color);
}

.contact .form form label {
  margin-top: 1rem;
}

.contact .form form input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: var(--gradient-color);
  color: white;
  border: none;
}

@media screen and (min-width: 765px) {
  .contact header img {
    height: 30vh;
  }
  .contact header .content .cardDiv {
    top: 17%;
    padding: 2rem;
    margin: 1rem;
  }
  .contact header .content .cardDiv h1 {
    font-size: 1.5rem;
  }
  .contact .info p {
    font-size: 1.5rem;
  }
  .contact .form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin-left: 5.9rem;
  }
}

@media screen and (min-width: 1020px) {
  .contact .form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
}
/*# sourceMappingURL=contact.css.map */