
:root{
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --white-color-cream: hsl(0, 0%, 93%);
    --grey-text: rgb(190, 190, 190);
    --input-color: rgb(239, 239, 239);
    --body-color: rgb(246, 249, 250);
    --card-bg-color: rgb(225, 225, 225);
}

.office{
    letter-spacing: 1px;

    header{

        background: rgb(43, 66, 77);
        overflow: hidden;
    
        img{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            display: flex;
            opacity: 0.4;
            max-width: 100%;
            height: 500px;
        }
    
        .content{
            text-align: center;
    
        .cardDiv{
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(241, 246, 247, 0.893);
            padding: .7rem;
            border-radius: 1rem;
            font-size: .6rem;

            h1{
                text-transform: uppercase;
            }

            p{
                color: var(--text-color);
            }
        }
    }

    }
    
    .mainHeader{
        margin: 1.5rem;
        text-align: center;

        h2{
            text-transform: uppercase;
            font-weight: 400;
            font-family: poppins, sans-serif;
            padding: .5rem;
        }
    }

    .mainContent{
        margin: 2rem;
        text-align: center;

        .col{
            .paragraph{
                margin: 2rem;
                color: var(--text-color);
                text-transform: inherit;
                
                
                h3{
                    margin-bottom: .5rem;
                    font-weight: 550;
                    font-family: italic;
                }
                p{
                    margin-bottom: 2rem;
                    color: var(--text-color);
                }
            }

        }
    }
}

@media screen and (min-width: 765px) {
    .office{
        header{
            .content{
                .cardDiv{
                    top: 25%;
                    padding: 2rem;
                    margin: 1rem;
                    font-size: 1rem;
                }
            }
            
        }
    
        .mainContent{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

    }
}

@media screen and (min-width: 1020px) {
    .office{

        header{
            h1{
                letter-spacing: 2px;
                font-size: larger;
            }
            .content{
                .cardDiv{
                    top: 33%;
                    padding: 2rem;
                    margin: 1rem;
                    font-size: 1.3rem;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1440px) {
    .office{
        header{
            .content{
                .cardDiv{
                    top: 25%;
                }
            }
            
        }

        .mainContent{
            margin: 3rem;

            .col{
                padding: .5rem;
                margin: .5rem;
            }
        }
    
    }
}

@media screen and (min-width: 2560px) {
    .office{
        header{
            .content{
                .cardDiv{
                    top: 40%;
                }
            }
            
        }
    }

}